@using Odev1.Models
@model LoginModel

@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 style="color:red">GİRİŞ BAŞARILI.HOŞGELDİN:)</h2>
              


            </div>
        </div>
    </div>
</div>
